@import 'common/variables';

@import 'common/global';
@import 'components/buttons';
@import 'components/comments';
@import 'components/forms';
@import 'layouts/header';
@import 'layouts/footer';

$sub-top: 124px;
$sub-scroll-top: 54px;
$sub-admin-top: 156px;
$sub-scroll-admin-top: 87px;
$sub-pad: 59px;
$sub-scroll-pad: 39px;

// .et-db #et-boc .et-l .et_pb_section_video_bg {
//     visibility: hidden !important;
// }

.body-decor {
    height: 170px;
    background-image: linear-gradient(180deg, $color-main 0%, $color-gradient 100%);
}

.body-curves {
    margin-top: -0.7px;
    height: 100px;
    background-image: url(../assets/images/body-curves.svg);
    background-size: 1400px 100px;

    + .content {
        margin: -230px auto 0;
        max-width: 1080px;
    }
}

h1 {
    text-transform: uppercase;
    text-align: center;
    font-weight: bold;
    font-size: 38px;
    letter-spacing: 1px;
}

.page-title {
    color: $color-text-light;
    padding-bottom: 90px;
}

.subs-dialog {
    display: flex;
    gap: 50px;
    padding: 100px;
    margin: 150px 0 100px;
    width: 90vw;
    max-width: 1400px;
    background-image: linear-gradient(209deg, $color-main 0%, $color-gradient 100%);
    border-radius: 0 20px 120px 0;
    box-shadow: inset 0 3px 0 0 rgba(#fff, 0.21);
    color: #fff;

    .subs-left {
        width: calc(56% - 25px);
    }

    .subs-right {
        width: calc(44% - 25px);
    }

    h2 {
        text-transform: uppercase;
        font-size: 44px;
        font-weight: 800;
        line-height: 1.3em;
        letter-spacing: 2px;
        margin-bottom: 20px;
    }

    @media (max-width: 950px) {
        flex-direction: column;

        .subs-left,
        .subs-right {
            width: 100%;
        }
    }

    @media (max-width: 480px) {
        padding: 100px 40px;

        h2 {
            font-size: 36px;
        }
    }

    p {
        line-height: 1.7em;
    }

    .subs-line {
        width: 80px;
        margin-bottom: 30px;
        height: 4px;
        background-color: #14f1d9;
    }

    input {
        width: 100%;
        line-height: 1.8em;
        font-size: 14px;
        padding: 14px 24px;
        border-radius: 4px;
        margin-bottom: 20px;

        &::placeholder {
            text-transform: uppercase;
            font-weight: 500;
        }

        &:first-of-type {
            margin-top: 43px;
        }
    }

    .subs-form {
        span {
            display: block;
            width: 100%;
            line-height: 1.8em;
            font-size: 14px;
            padding: 14px 24px;
            text-transform: uppercase;
            font-weight: bold;
            text-align: center;
            background-color: $color-button;
            border-radius: 4px;
        }
    }
}

.more-panel {
    max-width: 1080px;
    margin: 0 auto;
    display: flex;
    gap: 50px;

    @media (max-width: 1100px) {
        padding: 0 40px;
    }

    @media (max-width: 950px) {
        flex-direction: column;
    }

    .more-box {
        flex: 1 1 0;
        text-align: center;
    }

    .more-title {
        font-size: 36px;
        text-transform: uppercase;
        margin-bottom: 20px;
        color: $color-title;
    }

    p {
        color: $color-text-blue;
    }

    a {
        color: $color-text-link;
    }

    .more-links {
        display: flex;
        flex-wrap: wrap;
        gap: 20px;
        justify-content: center;
    }
}

.more-side {
    position: relative;
    width: 225px;
    min-width: 225px;
    display: flex;
    flex-direction: column;
    gap: 50px;

    .more-part {
        display: none;
        flex-direction: column;
        gap: 50px;
        flex: 1 1 0;
    }

    @media (max-width: 980px) {
        display: flex;
        flex-direction: row;
        width: 100%;

        .more-part {
            display: flex;
        }
    }

    @media (max-width: 830px) {
        .more-part[part='3'] {
            display: none;
        }
    }

    @media (max-width: 560px) {
        .more-part[part='2'] {
            display: none;
        }
    }

    .more-panel {
        position: relative;
        width: 100%;
        max-width: 100%;
        flex-direction: column;
        box-shadow: 0 2px 31px 0 rgba(#000, 0.3);
        padding: 0;
        gap: 0;

        h4 {
            font-size: 20px;
            line-height: 1em;
            background-color: $color-main;
            color: #fff;
            padding: 20px;
            margin-bottom: 0;
        }

        p {
            padding: 20px;
            margin: 0;
        }

        .more-content {
            display: flex;
            flex-direction: column;
            gap: 5px;
            font-size: 14px;

            > a {
                color: #000;
                padding: 15px 20px;
                font-weight: 600;
                border-bottom: 1px solid rgba(#000, 0.15);

                &:last-of-type {
                    border-bottom-width: 0;
                    padding-bottom: 20px;
                }
            }
        }

        .search-submit {
            position: absolute;
            z-index: 2;
            width: 24px;
            height: 24px;
            top: 50%;
            transform: translateY(-50%);
            color: #fff;
            background-color: transparent;
            right: 20px;

            @include transition;
        }

        input {
            padding: 20px;
            background-color: $color-main;
            width: 100%;
            font-size: 20px;
            line-height: 30px;
            color: #fff;
            z-index: 0;

            @include transition;

            &::placeholder {
                text-transform: uppercase;
                color: #fff;
                font-weight: 700;
            }

            &:focus {
                background-color: #fff;
                font-size: 16px;
                outline: none;
                color: #000;

                + .search-submit {
                    color: #000;
                }
            }
        }
    }
}
