@import './common/variables';
@import './common/fa-variables';
@import './common/ispinner';
@import './layouts/list';
@import './layouts/sidebar';

.content {
    .title {
        color: #fff;
        font-size: clamp(18px, 3vw, 30px);
        margin-bottom: 20px;
    }

    .meta {
        text-align: center;
        color: #fff;
        margin-bottom: 30px;
        line-height: normal;
    }

    .featured-image {
        position: relative;
        margin-bottom: 50px;
        padding-bottom: 56.25%;

        img {
            position: absolute;
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }

    .wrapper {
        display: flex;
        gap: 50px;

        @media (max-width: 980px) {
            &:not(.youtube) {
                flex-direction: column;
            }
        }

        .inner-wrap {
            display: flex;
            gap: 50px;
        }
    }

    .content-wrap {
        flex-grow: 2;

        .iframe-wrap {
            position: relative;
            padding-bottom: 56.297%;

            iframe {
                position: absolute;
                width: 100%;
                height: 100%;
                left: 0;
                top: 0;
            }
        }

        .image-wrap {
            position: relative;
            margin: 20px 0;

            img {
                position: absolute;
                width: 100%;
                height: 100%;
                object-fit: contain;
            }

            .image-center {
                left: 50%;
                top: 50%;
                transform: translate(-50%, -50%);
            }
        }

        a {
            color: $color-text-link;
        }

        p {
            // color: $color-text-blue;
            margin-bottom: 20px;
        }

        a, p, ul, ol, div, noscript {
            + h6,
            + h5,
            + h4,
            + h3,
            + h2,
            + h1 {
                margin-top: 50px;
            }
        }

        ul, ol {
            + p {
                margin-top: 30px;
            }
        }

        noscript + br {
            display: none;
        }

        br + a {
            display: block;
            text-align: right;
        }

        li {
            margin: 10px 20px;

            // color: $color-text-blue;
            line-height: 1.7em;

            > .image-wrap {
                left: -20px;
                width: calc(100% + 40px);
            }
        }

        h3 {
            font-size: 25px;
        }

        h1 {
            text-align: left;
        }

        h1,
        h2 {
            font-size: 30px;
            font-weight: 750;
        }

        h1, h2, h3, h4, h5, h6 {
            margin-bottom: 15px;
        }

        @media (max-width: 600px) {
            h2 {
                font-size: 30px;
            }
        }

        .fancy-title {
            display: grid;
            grid-template-columns: 1fr;
            gap: 0 20px;
            margin-top: 50px;
            align-items: center;
            margin-bottom: 15px;

            &.with-icon {
                grid-template-columns: 80px 1fr;
            }

            .size-channel {
                width: 80px;
                height: 80px;
            }

            .fancy-sub {
                align-self: flex-start;
                color: #999;
                font-size: 17px;
                display: block;
            }

            .fancy-text {
                align-self: flex-end;
                margin-bottom: 0;
                margin-top: -8px;
                font-size: 40px;

                .numeric {
                    display: none;
                    color: #999;
                    font-size: 30px;
                }
            }

            .fancy-out {
                display: flex;
                position: relative;
                gap: 8px;

                svg {
                    position: relative;
                    top: -5px;
                    color: $color-gradient;
                    width: 12px;
                    height: 12px;
                }
            }

            .fancy-social {
                position: relative;
                display: flex;
                gap: 5px;
                margin-top: 5px;

                // &::after,
                &::before {
                    content: '';
                    position: relative;
                    width: 120px;
                    height: 4px;
                    margin-top: 10px;
                    background-color: #999;
                    margin-right: 5px;
                    opacity: 0.3;
                }

                .icon {
                    @include transition;

                    position: relative;
                    width: 24px;
                    height: 24px;
                    background-color: $color-gradient;
                    border-radius: 4px;
                    color: #fff;

                    svg {
                        position: absolute;
                        left: 50%;
                        top: 50%;
                        transform: translate(-50%, -50%);
                        width: 16px;
                        height: 16px;
                    }

                    &:hover {
                        background-color: darken($color-gradient, 5%);
                    }

                    &.icon-facebook {
                        background-color: $color-facebook;

                        &:hover {
                            background-color: lighten($color-facebook, 10%);
                        }
                    }

                    &.icon-twitter {
                        background-color: $color-twitter;

                        &:hover {
                            background-color: lighten($color-twitter, 10%);
                        }
                    }

                    &.icon-instagram {
                        background-color: $color-instagram;

                        &:hover {
                            background-color: lighten($color-instagram, 10%);
                        }
                    }

                    &.icon-youtube {
                        background-color: $color-youtube;

                        &:hover {
                            background-color: lighten($color-youtube, 10%);
                        }
                    }

                    &.icon-linkedin {
                        background-color: $color-linkedin;

                        &:hover {
                            background-color: lighten($color-linkedin, 10%);
                        }
                    }

                    &.icon-pinterest {
                        background-color: $color-pinterest;

                        &:hover {
                            background-color: lighten($color-pinterest, 10%);
                        }
                    }

                    &.icon-tiktok {
                        background-color: $color-tiktok;

                        &:hover {
                            background-color: lighten($color-tiktok, 10%);
                        }
                    }

                    &.icon-snapchat {
                        background-color: $color-snapchat;

                        &:hover {
                            background-color: lighten($color-snapchat, 10%);
                        }
                    }

                    &.icon-googleplay {
                        background-color: $color-googleplay;

                        &:hover {
                            background-color: lighten($color-googleplay, 10%);
                        }
                    }

                    &.icon-appstore {
                        background-color: $color-appstore;

                        &:hover {
                            background-color: lighten($color-appstore, 10%);
                        }
                    }
                }
            }
        }
    }
}

main {
    > .yarpp-related {
        h3.related-title {
            margin: 50px 0 30px !important;
            font-size: 35px !important;
            text-transform: uppercase !important;
            font-weight: 700 !important;
            padding: 0 !important;
        }
    }
}

.youtube {
    .video-wrap {
        position: relative;
        margin-bottom: 20px;
        box-shadow: 0 2px 31px 5px #000;
        overflow: hidden;
        border-radius: 8px;
        background-color: #000;
        max-height: 608px;
        padding-bottom: 56.297%;

        iframe {
            position: absolute;
            width: 100%;
            height: 100%;
            left: 0;
            top: 0;
        }
    }

    .display-wrap {
        display: grid;
        grid-template-columns: 1fr auto;
        grid-template-rows: repeat(2, auto);
        grid-template-areas: 'title title' 'meta buttons';
        gap: 5px 20px;
        margin-top: 20px;
        margin-bottom: 10px;
        position: relative;

        &::before {
            content: '';
            position: absolute;
            bottom: 0;
            left: 0;
            right: 0;
            height: 1px;
            background-color: #ccc;
        }

        .title {
            grid-area: title;
            color: #000;
            font-size: 22px;
            text-transform: initial;
            font-weight: 700;
            margin: 0;
            line-height: 1;
        }

        .meta {
            grid-area: meta;
            color: #999;
            text-align: left;
            font-size: 16px;
            position: relative;
            align-self: flex-start;
            line-height: 1.1;
            margin-bottom: 18px !important;

            a {
                color: inherit;
            }
        }
    }

    .button-wrap {
        display: flex;
        gap: 0;
        justify-self: end;
        align-self: flex-end;
        visibility: visible;

        .video {
            @include transition;

            position: relative;
            width: 35px;
            height: 35px;
            background-color: #ccc;
            color: #fff;
            margin-right: 5px;
            cursor: pointer;
            margin-top: 2px;

            &.loading, &.selected {
                background-color: $color-main;
            }

            svg {
                width: 18px;
                height: 18px;
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
            }

            &.loading {
                svg {
                    visibility: hidden;
                }

                .ispinner {
                    display: block !important;
                    margin: auto;
                    margin-top: 8px;
                }
            }

            $like: #69c95e;
            $dislike: #c95e5e;
            $fave: #ed68b4;

            &:hover {
                background-color: lighten($color-main, 5%);
                margin-top: 0px;
            }

            &.loading, &.selected {
                background-color: $color-main;
            }

            &.dislike {
                border-top-right-radius: 4px;
                margin-left: 1px;

                &.loading, &.selected {
                    background-color: $dislike;
                }

                &:hover {
                    background-color: lighten($dislike, 5%);
                }
            }

            &.like {
                border-top-left-radius: 4px;

                &.loading, &.selected {
                    background-color: $like;
                }

                &:hover {
                    background-color: lighten($like, 5%);
                }
            }

            &.fave {
                border-radius: 4px 4px 0 0;
                margin-right: 0px;

                &.loading, &.selected {
                    background-color: $fave;
                }

                &:hover {
                    background-color: lighten($fave, 5%);
                }
            }
        }
    }

    .content-wrap {
        flex-grow: initial;
        align-self: start;

        p {
            margin: 0;
        }

        .meta {
            margin-bottom: 30px;
        }

        .desc {
            @include transition;

            position: relative;
            max-height: 250px;
            overflow: hidden;

            &::after {
                content: '';
                position: absolute;
                left: 0;
                bottom: 0;
                right: 0;
                height: 8px;
                background-image: linear-gradient(0deg, #fff 0%, transparent 100%);
            }
        }

        .show-more {
            position: relative;
            width: 100%;
            height: 30px;
            cursor: pointer;
            color: #777;

            svg {
                @include transition;

                position: absolute;
                top: 0;
                left: 50%;
                transform: translateX(-50%);
                width: 22px;
            }

            &.open {
                svg {
                    transform: translateX(-50%) rotate(180deg);
                }
            }
        }
    }

    .side-content {
        position: relative;

        .related-title {
            display: none;
        }

        .list {
            padding: 5px;
            margin: 0;
            gap: 20px;

            .entry {
                .entry-title {
                    padding: 0;
                    margin: 10px;
                    font-size: 15px;
                }
            }
        }

        .yarpp-related {
            margin: 0;

            @include transition;

            width: 260px;
            min-width: 260px;
            overflow-x: hidden;
            overflow-y: auto;
            position: sticky;
            top: 0;
            max-height: calc(100vh - 275px);

            &::-webkit-scrollbar {
                width: 0.5em;
            }

            &::-webkit-scrollbar-thumb {
                border-radius: .25em;
                background-color: rgba(#000, 0.08);
                border: 1px solid rgba(#fff, 0.2);
                border-left: 0;
            }

            &::-webkit-scrollbar-track {
                margin: 10px 0;
                box-shadow: inset 0 0 6px rgba(0, 0, 0, 0);
                border-left: 1px solid rgba(#fff, 0);
                background-color: transparent;
            }
        }

        &::after {
            position: absolute;
            content: '';
            bottom: -1px;
            left: 0;
            right: 0;
            height: 8px;
            background-image: linear-gradient(0deg, #fff 0%, transparent 100%);
        }

        &::before {
            position: absolute;
            content: '';
            top: 70px;
            left: 0;
            right: 0;
            height: 8px;
            z-index: 2;
            background-image: linear-gradient(180deg, #20b8b3 0%, transparent 100%);
        }
    }

    .channel-title {
        position: relative;
        align-self: flex-start;
        display: grid;
        grid-template-columns: 50px 1fr;
        grid-template-rows: repeat(2, auto);
        grid-template-areas: 'image title' 'image meta';
        gap: 0 10px;
        margin-bottom: 20px;

        .channel-logo {
            grid-area: image;
            width: 100%;
            border-radius: 50%;
            align-self: flex-start;
        }

        .title {
            grid-area: title;
            color: #fff;
            text-align: left;
            font-size: 18px;
            line-height: 1;
            margin: 0;
            align-self: flex-end;
        }

        .meta {
            grid-area: meta;
            font-size: 13px;
            color: #ddd;
            margin: 0;
            align-self: flex-start;
            text-align: left;

            &::before {
                height: 0;
            }
        }
    }

    @media (max-width: 880px) {
        flex-direction: column;

        .channel-title {
            .title {
                color: #000;
            }

            .meta {
                color: #999;
            }
        }

        .side-content {
            &::after,
            &::before {
                width: 0;
            }

            .yarpp-related {
                max-height: unset !important;
                width: unset;
                min-width: unset;
            }

            .list {
                display: grid;
                grid-template-columns: repeat(3, 1fr);
                padding: 0;
                margin: auto;

                .entry:nth-of-type(1n+10) {
                    display: none;
                }
            }
        }
    }

    @media (max-width: 770px) {
        .side-content {
            .list {
                grid-template-columns: repeat(2, 1fr);

                .entry:nth-of-type(1n+7) {
                    display: none;
                }
            }
        }
    }

    @media (max-width: 520px) {
        .display-wrap {
            grid-template-areas: 'title title' 'meta meta';

            .title {
                font-size: 18px;
            }

            .meta {
                font-size: 15px;
            }
        }

        .button-wrap {
            display: none;
        }

        .side-content {
            .list {
                grid-template-columns: 1fr;

                .entry:nth-of-type(1n+5) {
                    display: none;
                }
            }
        }
    }
}

.related-channels {
    position: relative;
    margin-top: 100px;

    .curves {
        height: 50px;
        background-image: url(../assets/images/body-curves.svg);
        background-size: 1400px 50px;
        width: 100%;

        &.top {
            transform: rotate(180deg);
            background-position-x: 700px;
        }

        &.bottom {
            background-image: url(../assets/images/body-curves-blue.svg);
        }
    }

    .content {
        background-image: linear-gradient(0deg, $color-main 0%, $color-gradient 100%);
        margin: -0.8px 0;
        padding: 5px;

        .wrap {
            position: relative;
            width: 1080px;
            max-width: calc(100vw - 80px);
            margin: 0 auto 0;
            display: grid;
            grid-template-columns: repeat(3, 1fr);
            grid-template-rows: repeat(2, 1fr);
            gap: 20px;
            padding: 60px 0 20px;
        }

        .related-title {
            position: absolute;
            top: 0;
            left: 0;
            color: #fff;
        }

        .channel-wrap {
            position: relative;
            display: grid;
            grid-template-columns: 80px 1fr;
            grid-template-rows: repeat(2, auto);
            grid-template-areas: 'image title' 'image meta';
            gap: 0 10px;
            margin-bottom: 20px;

            .channel-logo {
                grid-area: image;
                width: 100%;
                border-radius: 50%;
                align-self: flex-start;
                box-shadow: 1px 1px 3px 0 rgba(#000, 0.3), -1px -1px 3px 0 rgba(#000, 0.3);
            }

            .title {
                grid-area: title;
                color: #fff;
                text-align: left;
                font-size: 18px;
                line-height: 1;
                margin: 0;
                align-self: flex-end;
            }

            .meta {
                grid-area: meta;
                font-size: 13px;
                color: #ddd;
                margin: 0;
                align-self: flex-start;
                text-align: left;

                &::before {
                    height: 0;
                }
            }
        }
    }
}

body {
    &:not(.scrolled) {
        .youtube {
            .yarpp-related {
                top: 185px;
            }
        }

        &:not(.at-top) {
            .youtube {
                .yarpp-related {
                    max-height: calc(100vh - 185px);
                }
            }
        }
    }

    &.scrolled {
        .youtube {
            .yarpp-related {
                top: 95px;
                max-height: calc(100vh - 95px);
            }
        }
    }
}
