/** Import Bootstrap functions */
/** Bootstrap navbar fix (https://git.io/fADqW) */
@font-face {
  font-family: "Mulish";
  src: url("../assets/fonts/Mulish/Mulish-VariableFont_wght.ttf") format("truetype-variations");
  font-weight: 200 900;
  font-style: normal;
}
@font-face {
  font-family: "Mulish";
  src: url("../assets/fonts/Mulish/Mulish-Italic-VariableFont_wght.ttf") format("truetype-variations");
  font-weight: 200 900;
  font-style: italic;
}
.toplevel_page_htm-admin-menu-dashboard img {
  width: 20px;
  margin-top: -3px;
}

.ks-box {
  position: relative;
  margin: 20px 20px 20px 0;
}
.ks-box .ks-head {
  display: flex;
  align-items: center;
  background-color: #0da0c5;
  border-radius: 20px 20px 0 0;
  padding: 10px 20px;
}
.ks-box .ks-icon {
  position: relative;
  height: 50px;
  width: 50px;
}
.ks-box .ks-icon path {
  fill: #fff;
}
.ks-box .ks-sub,
.ks-box .ks-title {
  font-size: 30px;
  color: #fff;
}
.ks-box .ks-title {
  margin: 0 25px;
}
.ks-box .ks-sub {
  position: relative;
}
.ks-box .ks-sub::before {
  content: "-";
  position: absolute;
  left: -18px;
}
.ks-box .ks-content {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
  background-color: #5dd6f4;
  padding: 20px;
}
.ks-box .ks-footer {
  background-color: #0da0c5;
  height: 30px;
  border-radius: 0 0 20px 20px;
  position: relative;
  overflow: hidden;
}
.ks-box .ks-setting-box {
  display: flex;
  flex-direction: column;
  padding: 20px;
  background-color: #0da0c5;
  box-shadow: 2px 5px 16px 1px rgba(0, 0, 0, 0.7);
}
.ks-box .ks-setting-box .ks-name {
  font-weight: bold;
  font-size: 15px;
  margin-bottom: 2px;
  color: #fff;
}
.ks-box .ks-setting-box .ks-input {
  border: 0;
  margin: 0;
  border-radius: 0;
  padding: 0 0 0 8px;
}
.ks-box .ks-setting-box .ks-input + .ks-name {
  margin-top: 5px;
}
.ks-box .ks-setting-box .ks-input[type=number] {
  width: 60px;
}
.ks-box .ks-setting-box .ks-desc {
  font-size: 11px;
  margin: 0 0 5px 5px;
  line-height: 12px;
  color: #ddd;
}
.ks-box .ks-setting-box .flex {
  display: flex;
  align-items: center;
  gap: 10px;
  margin: 5px 0 10px;
}
.ks-box .ks-setting-box .flex .spacer {
  flex-grow: 2;
}
.ks-box .ks-setting-box .flex input {
  width: max-content;
}
.ks-box .ks-setting-box .ks-label {
  color: #fff;
}
.ks-box .ks-setting-box .ks-button {
  transition: 600ms all cubic-bezier(0.4, 0, 0.2, 1);
  border: 0;
  background-color: #fff;
  margin: 0;
  padding: 5px 10px;
  border-radius: 4px;
  cursor: pointer;
  font-weight: 500;
  text-transform: uppercase;
  outline: none;
}
.ks-box .ks-setting-box .ks-button:hover {
  background-color: #ddd;
}
.ks-box .ks-setting-box .ks-button.doMe {
  background-color: #29c4a9;
  color: #fff;
}
.ks-box .ks-setting-box .ks-button.doMe:hover {
  background-color: #25af97;
}
.ks-box .ks-multi-input {
  background-color: #fff;
  padding: 3px;
}
.ks-box .ks-multi-input .ks-input-box {
  display: inline;
  position: relative;
  margin-right: 3px;
}
.ks-box .ks-multi-input .ks-input {
  background-color: #5dd6f4;
}
.ks-box .ks-multi-input .ks-remove {
  background-color: #fff;
  color: #000;
  text-align: center;
  width: 20px;
  position: absolute;
  right: 0;
  margin: 3px;
  height: 20px;
}

.ks-progress {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
}
.ks-progress .ks-progress-back {
  transition: 600ms all cubic-bezier(0.4, 0, 0.2, 1);
  background-color: #29c4a9;
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 0%;
}

@media (max-width: 1700px) {
  .ks-box .ks-content {
    grid-template-columns: repeat(3, 1fr);
  }
}
@media (max-width: 1400px) {
  .ks-box .ks-content {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media (max-width: 1000px) {
  .ks-box .ks-content {
    grid-template-columns: 1fr;
  }
}