/** Import Bootstrap functions */
/** Bootstrap navbar fix (https://git.io/fADqW) */
@font-face {
  font-family: "Mulish";
  src: url("../assets/fonts/Mulish/Mulish-VariableFont_wght.ttf") format("truetype-variations");
  font-weight: 200 900;
  font-style: normal;
}
@font-face {
  font-family: "Mulish";
  src: url("../assets/fonts/Mulish/Mulish-Italic-VariableFont_wght.ttf") format("truetype-variations");
  font-weight: 200 900;
  font-style: italic;
}
.toplevel_page_htm-admin-menu-dashboard img {
  width: 20px;
  margin-top: -3px;
}

.update-nag {
  display: none !important;
}

.ks-box {
  position: relative;
  margin: 20px 20px 20px 0;
}
.ks-box .ks-head {
  display: flex;
  align-items: center;
  background-color: #0da0c5;
  border-radius: 20px 20px 0 0;
  padding: 10px 20px;
}
.ks-box .ks-icon {
  position: relative;
  height: 50px;
  width: 50px;
}
.ks-box .ks-icon path {
  fill: #fff;
}
.ks-box .ks-sub,
.ks-box .ks-title {
  font-size: 30px;
  color: #fff;
}
.ks-box .ks-title {
  margin: 0 25px;
}
.ks-box .ks-sub {
  position: relative;
}
.ks-box .ks-sub::before {
  content: "-";
  position: absolute;
  left: -18px;
}
.ks-box .ks-content {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
  background-color: #5dd6f4;
  padding: 20px;
}
.ks-box .ks-footer {
  background-color: #0da0c5;
  height: 30px;
  border-radius: 0 0 20px 20px;
  position: relative;
  overflow: hidden;
}
.ks-box .ks-setting-box {
  display: flex;
  flex-direction: column;
  padding: 20px;
  background-color: #0da0c5;
  box-shadow: 2px 5px 16px 1px rgba(0, 0, 0, 0.7);
}
.ks-box .ks-setting-box .ks-name {
  font-weight: bold;
  font-size: 15px;
  margin-bottom: 2px;
  color: #fff;
}
.ks-box .ks-setting-box .ks-input {
  border: 0;
  margin: 0;
  border-radius: 0;
  padding: 0 0 0 8px;
}
.ks-box .ks-setting-box .ks-input + .ks-name {
  margin-top: 5px;
}
.ks-box .ks-setting-box .ks-input[type=number] {
  width: 60px;
}
.ks-box .ks-setting-box .ks-desc {
  font-size: 11px;
  margin: 0 0 5px 5px;
  line-height: 12px;
  color: #ddd;
}
.ks-box .ks-setting-box .flex {
  display: flex;
  align-items: center;
  gap: 10px;
  margin: 5px 0 10px;
}
.ks-box .ks-setting-box .flex .spacer {
  flex-grow: 2;
}
.ks-box .ks-setting-box .flex input {
  width: max-content;
}
.ks-box .ks-setting-box .grid {
  display: grid;
  gap: 10px;
}
.ks-box .ks-setting-box .grid.two {
  grid-template-columns: repeat(2, 1fr);
}
.ks-box .ks-setting-box .grid.three {
  grid-template-columns: repeat(3, 1fr);
}
.ks-box .ks-setting-box .ks-label {
  color: #fff;
}
.ks-box .ks-setting-box .check-list {
  margin-bottom: 10px;
}
.ks-box .ks-setting-box .check-list .check-box {
  position: relative;
}
.ks-box .ks-setting-box .check-list .check-box label {
  display: flex;
  align-items: center;
  gap: 5px;
  padding: 0;
}
.ks-box .ks-setting-box .check-list label * {
  margin: 0;
}
.ks-box .ks-setting-box .check-list .ks-check-name {
  font-weight: 600;
  font-size: 15px;
  color: #fff;
}
.ks-box .ks-setting-box .check-list .ks-help {
  color: #fff;
  font-size: 11px;
  opacity: 0.6;
}
.ks-box .ks-setting-box .ks-button {
  transition: 200ms all cubic-bezier(0.4, 0, 0.2, 1);
  border: 0;
  background-color: #fff;
  margin: 0;
  padding: 5px 10px;
  border-radius: 4px;
  cursor: pointer;
  font-weight: 500;
  text-transform: uppercase;
  outline: none;
}
.ks-box .ks-setting-box .ks-button:hover {
  background-color: #ddd;
}
.ks-box .ks-setting-box .ks-button.doMe {
  background-color: #29c4a9;
  color: #fff;
}
.ks-box .ks-setting-box .ks-button.doMe:hover {
  background-color: #25af97;
}
.ks-box .ks-setting-box .ks-button.red {
  background-color: #d29292;
  color: #fff;
}
.ks-box .ks-setting-box .ks-button.red:hover {
  background-color: #cb8080;
}
.ks-box .ks-setting-box > .ks-button:not(:last-child) {
  margin-bottom: 10px;
}
.ks-box .ks-multi-input {
  background-color: #fff;
  padding: 3px;
}
.ks-box .ks-multi-input .ks-input-box {
  display: inline;
  position: relative;
  margin-right: 3px;
}
.ks-box .ks-multi-input .ks-input {
  background-color: #5dd6f4;
}
.ks-box .ks-multi-input .ks-remove {
  background-color: #fff;
  color: #000;
  text-align: center;
  width: 20px;
  position: absolute;
  right: 0;
  margin: 3px;
  height: 20px;
}

.ks-progress {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
}
.ks-progress .ks-progress-number {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  color: #fff;
  font-weight: 600;
  font-size: 17px;
}
.ks-progress .ks-progress-back {
  transition: 200ms all cubic-bezier(0.4, 0, 0.2, 1);
  background-color: #29c4a9;
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 0%;
}
.ks-progress .ks-progress-time {
  color: #fff;
  line-height: 30px;
  font-size: 13px;
  position: absolute;
  right: 14px;
}

@media (max-width: 1700px) {
  .ks-box .ks-content {
    grid-template-columns: repeat(3, 1fr);
  }
}
@media (max-width: 1400px) {
  .ks-box .ks-content {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media (max-width: 1000px) {
  .ks-box .ks-content {
    grid-template-columns: 1fr;
  }
}
.check-wrap .check-mark {
  width: 40px;
  height: 40px;
  background-image: url(../assets/images/menu-checkbox.svg?v=6);
  background-size: 20px 20px;
  background-position: center;
  background-repeat: no-repeat;
  position: relative;
  cursor: pointer;
}
.check-wrap .check-mark::after {
  transition: 200ms all cubic-bezier(0.4, 0, 0.2, 1);
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-image: url(../assets/images/menu-check.svg?v=4);
  background-size: 20px 20px;
  background-position: 13px 7px;
  background-repeat: no-repeat;
  opacity: 0;
}
.check-wrap input {
  display: none;
}
.check-wrap input:checked ~ .check-mark::after {
  opacity: 1;
}

.ks-setting-list {
  display: flex;
  flex-direction: column;
  color: #fff;
  margin-bottom: 10px;
}
.ks-setting-list .check-box {
  position: relative;
}
.ks-setting-list .check-box label {
  display: flex;
  align-items: center;
  gap: 10px;
  padding: 5px 0;
}
.ks-setting-list .check-box:not(:last-of-type)::after {
  content: "";
  position: absolute;
  left: 2%;
  right: 35%;
  height: 1px;
  background-color: rgba(255, 255, 255, 0.3);
  bottom: 0;
}
.ks-setting-list label * {
  margin: 0;
}
.ks-setting-list .ks-check-name {
  font-weight: 600;
  font-size: 17px;
}
.ks-setting-list .ks-which {
  opacity: 0.6;
  font-size: 13px;
}
.ks-setting-list .ks-help {
  opacity: 0.6;
}

.ks-feed {
  counter-reset: feed;
  padding: 0 10px;
  background-color: #0da0c5;
  max-height: 84px;
  position: relative;
  overflow: hidden;
}
.ks-feed .ks-feed-text {
  transition: 300ms all cubic-bezier(0.4, 0, 0.2, 1);
  position: relative;
}
.ks-feed p {
  margin: 0;
  line-height: 1.1;
  color: #fff;
  padding: 7px 0 7px 25px;
  position: relative;
  opacity: 0.7;
}
.ks-feed p::before {
  counter-increment: feed;
  content: counter(feed) ".";
  position: absolute;
  left: -6px;
  width: 25px;
  text-align: right;
  opacity: 0.4;
}

.acf-input .with-edit-wrap {
  display: flex;
  gap: 10px;
}
.acf-input .edit {
  cursor: pointer;
}
.acf-input .error {
  background-color: #f7c1c1;
}